---
title: Myles Braithwaite's Avatars
---

<div class="page-header">
    <h1>Myles' Avatars</h1>
</div>

<div class="avatars">
    {{#each avatars}}
    <div class="avatar avatar-{{slug}}">
        <a href="/assets/images/avatar/{{images.full_body}}" data-featherlight="image">
            <div class="avatar-image">
                <img src="/assets/images/avatar/{{images.headshot}}">
            </div>
            <div class="avatar-header">
                {{title}}
            </div>
            {{#if description}}
            <div class="avatar-body">
                {{description}}
            </div>
            {{/if}}
        </a>
    </div>
    {{/each}}
</div>
