---
layout: default.hbs
---

<div class="page--index h-card">
    <div class="logo">
        <div class="logo-wrapper">
            <img class="u-photo" alt="{{ config.site_title }}" src="/assets/images/avatar.svg">
        </div>
    </div>

    <div class="header">
        <h1 class="p-name">{{ config.site_title }}</h1>
        <h2 class="p-note">{{ config.site_description }}</h2>
    </div>

    <div class="footer">
        <ul class="navigation">
            {{#each nav}}
            {{#unless logo}}
            <li class="{{slug}}">
                <a href="{{url}}">
                    {{title}}
                </a>
            </li>
            {{/unless}}
            {{/each}}
        </ul>

        <ul class="elsewhere">
        {{#each index.elsewhere}}
            {{#unless disabled}}
            <li class="{{ slug }}{{#unless important}} not-important{{/unless}}">
                <a href="{{ url }}?utm_source=mylesb.ca&utm_medium=button&utm_campaign=referral"{{#if description}} title="{{ trim description }}"{{/if}}{{#if rel }} rel="{{ rel }}"{{/if}} class="u-url">
                    {{ title }}
                </a>
            </li>
            {{/unless}}
        {{/each}}
        </ul>
    </div>
</div>
