---
title: MylesB.ca
---

<div class="panel panel-home" id="home">
	<div class="container">
		<div class="content">
			<div class="image-avatar-wrapper">
				<div class="image-avatar" data-src="/assets/images/avatars/hipster-{width}.png" data-alt="Avatar"></div>
			</div>
			
			<h1>{{ site.author.name }}</h1>
			<h2>{{ site.description }}</h2>
			
			{{#markdown }}{{ home.bio }}{{/markdown }}
			
			<ul class="social-buttons">
				<li class="email">
					<a href="mailto:{{home.email}}" title="Email me @ {{home.email}}">
						<img data-src="/assets/images/envelope.svg" class="iconic" data-type="" alt="Email me @ {{home.email}}">
					</a>
				</li>
				{{#each home.social}}
				<li class="{{slug}}">
					<a href="{{url}}" title="{{name}}">
						<img data-type="{{slug}}" data-src="/assets/images/social.svg" class="iconic" alt="{{name}}">
					</a>
				</li>
				{{/each}}
			</ul>
		</div>
	</div>
</div>

<div class="panel panel-about" id="about">
	<div class="container">
		<div class="content">
			<article>
				<h1>About <em>{{ site.author.name }}</em></h1>
				
				<p class="lead">{{ about.subheading }}</p>
				
				<hr>
				
				{{#markdown }}{{ about.body }}{{/markdown }}
			</article>
		</div>
	</div>
</div>

<div class="panel panel-elsewhere" id="elsewhere">
	<div class="container">
		<div class="content">
			<h1>Elsewhere</h1>
			
			<div class="cards">
				{{#each elsewhere.portfolio}}
				<a href="{{url}}" class="card">
					<div class="card-image">
						<img src="{{image}}" alt="{{name}}">
					</div>
					<div class="card-header">
						{{name}}
					</div>
					<div class="card-copy">
						{{#markdown }}{{copy}}{{/markdown }}
					</div>
				</a>
				{{/each}}
			</div>
		</div>
	</div>
</div>

<div class="panel panel-contact" id="contact">
	<div class="container">
		<div class="content">
			<h1>Contact Me</h1>
			
			<form action="index_submit" method="get" accept-charset="utf-8">
				<fieldset>
					<p>
						<label for="id_name">Name</label>
						<input type="text" id="id_name" name="name">
					</p>
					
					<p>
						<label for="id_email">Email</label>
						<input type="email" id="id_email" name="email">
					</p>
					
					<p>
						<label for="id_message">Message</label>
						<textarea type="message" id="id_message" name="message"></textarea>
					</p>
					
					<p>
						<label for="id_indian_jones">How many Indiana Jones films are there?</label>
						<select name="indian_jones" id="id_indian_jones">
							<option value="4">Four</option>
							<option value="3">Three</option>
						</select>
					</p>
					
					<p><input type="submit" value="Send"></p>
				</fieldset>
			</form>
		</div>
	</div>
</div>