---
title: Myles Braithwaite's SSH Public Key
---

<div class="page-header">
    <h1>Myles'&nbsp;SSH Public&nbsp;Key</h1>
</div>

<h2>Public Keys</h2>

<dl>
    <dt>Myles@Spider-Gwen.local</dt>
    <dd>
        <ul>
            <li>The SSH public key fingerprint is <code class="fingerprint">+od6DUmI9+gzysab9T19nHf2cuYKBp7yFWBsTInRH0w</code>.</li>
            <li>You can download that public key here: <code><a href="{{ config.url }}{{ config.baseurl }}uploads/myles-braithwaite-spider-gwen.pub">{{ config.url }}{{ config.baseurl }}uploads/myles-braithwaite-spider-gwen.pub</a></code>.</li>
            <li>I have signed the SSH public key with my <a href="{{ config.url }}{{ config.baseurl }}gpg/">GPG Key</a> which can be downloaded here: <code><a href="{{ config.url }}{{ config.baseurl }}uploads/myles-braithwaite-spider-gwen.pub.asc">{{ config.url }}{{ config.baseurl }}uploads/myles-braithwaite-spider-gwen.pub.asc</a></code>.</li>
        </ul>
    </dd>
</dl>

<h2>Proof of Identity</h2>

<p>Below is my proof of identity, you can also download it here: <code><a href="{{ config.url }}{{ config.baseurl }}uploads/ssh-key-fingerprints.txt.asc">{{ config.url }}{{ config.baseurl }}uploads/ssh-key-fingerprints.txt.asc</a></code> and verify it using <kbd>gpg --verify ssh-key-fingerprints.txt.asc</kbd>.</p>

<pre>
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

Date: 31 May 2016

My name is Myles Braithwaite and I use SSH.

$ ssh-keygen -lf myles-braithwaite-spider-gwen.pub
2048 SHA256:+od6DUmI9+gzysab9T19nHf2cuYKBp7yFWBsTInRH0w Myles@Spider-Gwen.local (RSA)
-----BEGIN PGP SIGNATURE-----

iQIcBAEBCAAGBQJXTaZTAAoJEOxVwUtuLC13+SEQAJ6ZWKHfrTmIHOKZvDuwEyDs
5kHQvnxBl2Zq4sQQFWqgYAVFjMJLarq6SKfi8dSbyWGT5Ujrbu+CzTkdcX+oqf3w
uQMbWXjOMp6oipis13dH6x6Kxbu1tf6+EpMU/b819Xj9/yw5T7m754Iv1ZT8TECp
VTX/85DBJLTHR4wouk0PuKngcvUht1dzjtrg+Y34BCGnFQFNw+Zz1mHPlPzlnSvS
lPexGOQQYe9WGRXtQR5zTfzNYG3a5Zz1Tu8OdyhBXLQebFgjUVmaKKZa5foNg50l
XVBlQ2NHObDj8PfIj3wAQHVqmUX94g7opJG9fUoXmH3xdOqpFSgg64LzNsQZLlCc
9jdIRLm8Z7JMJ85EHtS+StseEoWdCnFcnS3fop65zsuFy/h7DGEPpVzLjz5mpPMt
+mX3NEjI/lvrTTIf8Ixh9USsj9vyjG9l7T0B3lZH/V3VaNan7xBpiOAQnKe7uxQe
cFvoPvdG7qJTLS/skjyhJMIt1jnGl2E5dgiwM/HhUr1UZWnJ6BC0d9OEnflDQ5xB
xTJoYxUR31JpSUgMNtwq11gCjEoV9/lNKQ5M7rVVUzRV1KPTO2myd8l2TMco7fqr
LubykQvtL1CGE/zxjUf+7tDk66Dq+v2yuxQeLYIkauJ1rK7Zypa6eu1l3aw4sA5P
iaj4FfobBM4HJWO7t14d
=Yf6M
-----END PGP SIGNATURE-----
</pre>

<h2>GitHub</h2>

<p>GitHub also stores some of my SSH keys at <code><a href="https://github.com/myles.key">github.com/myles.key</a></code>.</p>
