<footer>
    <ul class="social-buttons">
        <li class="email">
            <a href="mailto:{{home.email}}" title="Email me @ {{home.email}}" rel="me">
                <img data-src="/assets/images/envelope.svg" class="iconic" data-type="" alt="Email me @ {{home.email}}">
            </a>
        </li>
        {{#each home.social}}
        <li class="{{slug}}">
            <a href="{{url}}" title="{{name}}" rel="me">
                <img data-type="{{slug}}" data-src="/assets/images/social.svg" class="iconic" alt="{{name}}">
            </a>
        </li>
        {{/each}}
    </ul>
    
    <p>Made by <a href="http://mylesbraithwaite.com/">Myles Braithwaite</a> with <img data-src="/assets/images/heart.svg" class="iconic" alt="heart"> in Toronto.</p>
</footer>
