<div class="panel panel-elsewhere background-{{elsewhere.background}}" id="elsewhere">
    <div class="container">
        <div class="content">
            <article>
                <p class="type">Elsewhere</p>
                
                <h1>Other Web Sites I Manage</h1>
                
                <hr>
                
                <div class="cards">
                    {{#each elsewhere.portfolio}}
                    <a href="{{url}}" class="card {{#if big}}card-big{{/if}}">
                        <img src="{{image}}" alt="{{name}}">
                        <h1>{{name}}</h1>
                        {{#markdown }}{{copy}}{{/markdown }}
                    </a>
                    {{/each}}
                </div>
            </atricle>
        </div>
    </div>
</div>
