<div class="footer footer--{{basename}}" role="contentifo">
    <div class="footer__wrapper">
        <div class="footer__logo">
            <img src="/assets/images/favicons/favicon-152x152.png" class="footer__logo-image" alt="Myles Braithwaite">
        </div>
        
        <div class="grid">
            <div class="footer__links grid__row">
                <ul class="footer__link-list grid__col grid__col--4">
                    <li class="footer__item footer__item--heading"><h3 class="footer__heading">Content</h3></li>
                    {{#each nav}}
                    {{#if footer}}
                    <li class="footer__item footer__item--link">
                        <a href="{{url}}" class="footer__link">
                            {{title}}
                        </a>
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            
                <ul class="footer__link-list grid__col grid__col--4">
                    <li class="footer__item footer__item--heading"><h3 class="footer__heading">Follow Me</h3></li>
                    {{#each social}}
                    {{#if footer}}
                    <li class="footer__item footer__item--link">
                        <a href="{{url}}" class="footer__link">
                            {{title}}
                        </a>
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
                
                <ul class="footer__link-list grid__col grid__col--4">
                    <li class="footer__item footer__item--heading"><h3 class="footer__heading">Elsewhere</h3></li>
                    {{#each elsewhere}}
                    {{#if footer}}
                    <li class="footer__item footer__item--link">
                        <a href="{{url}}" class="footer__link">
                            {{short_title}}
                        </a>
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
        
        <hr class="footer__separator">
        
        <p class="footer__copy">Made by <strong>Myles Braithwaite</strong> with <span class="footer__heart">{{> heart }}</span> in Toronto.</p>
    </div>
</div>
